NEXT_PUBLIC_WHATSAPP=5493875xxxxxx
NEXT_PUBLIC_TELEFONO=
NEXT_PUBLIC_EMAIL=
NEXT_PUBLIC_DIRECCION= Zabala 410, A4400 Salta, Argentina
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/alambrarsrl/
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/alambrarsrl/
NEXT_PUBLIC_MAPS_URL= https://www.google.com/maps/place/ALAMBRAR/@-24.802555,-65.4095929,2842m/data=!3m2!1e3!4b1!4m6!3m5!1s0x941bc30a3a88a751:0x906026a58f173a9a!8m2!3d-24.802555!4d-65.4095929!16s%2Fg%2F1tf0rq39?hl=es-419&entry=ttu&g_ep=EgoyMDI2MDcxOS4wIKXMDSoASAFQAw%3D%3D
NEXT_PUBLIC_GOOGLE_REVIEWS_URL= https://www.google.com/maps/place/ALAMBRAR/@-24.802555,-65.4121678,1421m/data=!3m2!1e3!4b1!4m6!3m5!1s0x941bc30a3a88a751:0x906026a58f173a9a!8m2!3d-24.802555!4d-65.4095929!16s%2Fg%2F1tf0rq39?hl=es-419&entry=ttu&g_ep=EgoyMDI2MDcxOS4wIKXMDSoASAFQAw%3D%3D
