@import "tailwindcss";
@config "../tailwind.config.mts";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
